<div class="artists_index main_content">

<h1>Artists#index</h1>

<div class="main_table">
  <table class="main">
    <tbody>
      <% @artists.each.with_index(1) do |artist, index| -%>
        <tr>
          <td class="wide_link numeric"><%= link_to index, artist %></td>
          <td><%= artist.name %></td>
        </tr>
      <% end -%>
    </tbody>
  </table>
</div>

</div>
