<div class="artists_index main_content">

<div class="main_table">
  <table class="main">
    <tbody>
      <% @artists.each.with_index(1) do |artist, index| -%>
        <tr>
          <td class="wide_link numeric">
            <% if artist.compilation? -%>
              <%= link_to index, artist_path(id: 0) %>
            <% else -%>
              <%= link_to index, artist %>
            <% end -%>
          </td>
          <td><%= artist.name %></td>
        </tr>
      <% end -%>
    </tbody>
  </table>
</div>

</div>
