<div class="albums_labels_show">

<% unless @label.name == 'Classical' -%>
  <div class="action">
    <%= link_to 'Edit', edit_albums_label_path(@label) %>
  </div>
<% end -%>

<%= render @label %>

</div>
