<%
  unless defined?(path_name)
    path_name = 'albums_path'
  end
-%>

<div class="tabnavi_for_artist_initial_ranges">
  <% @artist_initial_ranges.each do |initial_range| -%>
    <%= link_to_unless initial_range == @initial_range,
      initial_range, send(path_name, initial_range: initial_range) do
        content_tag :span, initial_range, class: 'current'
      end
    %>
  <% end -%>
</div>
