<div class="albums_index main_content">

<h1>Albums#index</h1>

<% @artists.each do |artist| -%>
  <% albums = @albums_by_artist[artist]
     next unless albums -%>
  <%= render partial: 'albums', locals: {albums: albums, caption: artist.name} %>
<% end -%>

</div>
