<div class="albums_index">

<h1>Albums#index</h1>

<% @artists.each do |artist| -%>
  <% albums = @albums_by_artist[artist]
     next unless albums -%>
  <div class="albums_by_artist">
    <span class="artist_name"><%= artist %></span>
    <table>
      <tbody>
        <% albums.each.with_index(1) do |album, index| -%>
          <tr>
            <td class="wide_link numeric"><%= link_to index, album %></td>
            <td><%= album.name %></td>
            <td class="numeric"><%= album.year %></td>
          </tr>
        <% end -%>
      </tbody>
    </table>
  </div>
<% end -%>

</div>
