<div class="albums_index">

<h1>Albums#index</h1>

<table>
  <tbody>
    <% @albums.each.with_index(1) do |album, index| -%>
      <tr>
        <td class="numeric"><%= index %></td>
        <td><%= album.name %></td>
        <td><%= album.artist %></td>
      </tr>
    <% end -%>
  </tbody>
</table>

</div>
