<div class="albums_index">

<h1>Albums#index</h1>

<table>
  <% @albums.each.with_index(2) do |album, index| -%>
    <tr>
      <td><%= index %></td>
      <td><%= album.name %></td>
      <td><%= album.artist %></td>
    </tr>
  <% end -%>
</table>

</div>
