<div class="albums_index main_content">

<%= render 'tabnavi_for_artist_initial_ranges' %>

<% @initial_range.artists.sort.each do |artist| -%>
  <% albums = artist.albums.sort
     next if albums.empty? -%>
  <%= render partial: 'albums', locals: {albums: albums, caption: artist.name} %>
<% end -%>

</div>
