span.label {
  padding: 0 3px;
  border: black solid 1px;
  margin-right: 0;
}

div.tab_navi_for_artists {
  margin-top: 10px;
  margin-left: 10px;

  a, span {
    margin-right: 5px;

    &.current {
      font-weight: bold;
    }
  }
}

div.albums_index {
}

div.albums_show {

  div.labels {

    span.label_with_link {
      margin-right: 10px;

      a {
        color: black;
        text-decoration: none;
        padding: 0 3px;
        border: black solid 1px;
        border-left: none;
        margin-left: 0;
        margin-right: 0;
      }
    }
  }

  div.form {
    margin-top: 10px;
  }
}

div.albums_albums {

  td.num_tracks {
    text-align: right;
    padding-left: 0;

    &:after {
      content: "曲";
    }
  }

  td.num_tracks_rated {

    &:before {
      content: "☆ ";
    }

    &:after {
      content: "曲 /";
    }
  }
}
