span.label {
  padding: 0 3px;
  border: black solid 1px;
  margin-right: 0;
}

div.albums_index {
}

div.albums_show {

  div.labels {

    span.label_with_link {
      margin-right: 10px;

      a {
        color: black;
        text-decoration: none;
        padding: 0 3px;
        border: black solid 1px;
        border-left: none;
        margin-left: 0;
        margin-right: 0;
      }
    }
  }

  div.form {
    margin-top: 10px;
  }
}
