body {
  font-family: "メイリオ", sans-serif;
  font-size: 12px;
}


td, th {
  padding-top:    1px;
  padding-bottom: 1px;
  padding-left:   5px;
  padding-right:  5px;
}

.numeric {
  text-align: right;
}

td.wide_link a {
  display: block;
}

tbody tr:hover {
  background-color: cyan;
}


span.app_name {
  font-weight: bold;
  font-style: italic;

  a {
    text-decoration: none;
  }
}

div.main_content {
  margin-top: 5px;
  margin-left: 10px;
}


div.main_table {
  margin-top: 10px;
  margin-bottom: 10px;

  span.caption {

    &:before {
      content: '==> ';
    }
    &:after {
      content: ' <==';
    }
  }

  table.main {
    margin-top: 3px;
  }
}
