<div class="top_bar">
  <span class="app_name">
    <%= link_to t('app_name'), root_path %>
  </span>

  <% %w[albums artists playlists albums_labels].each do |resource| -%>
    <% label = resource.titleize.sub(/\AAlbums /, 'Album ') -%>
    <span class="tab">
      <%= link_to_unless_current resource.titleize, send("#{resource}_path") do |label|
            content_tag :span, label, class: 'current'
          end %>
    </span>
  <% end -%>

  <% %w[CD LP].each do |label_name| -%>
    <% album_label = Albums::Label.find_by(name: label_name) -%>
    <span class="tab">
      <%= link_to_unless_current label_name, album_label do |label_name|
            content_tag :span, label_name, class: 'current'
          end %>
    </span>
  <% end -%>

  <% album_label = Albums::Label::CLASSICAL
     label_name = album_label.name -%>
  <span class="tab">
    <%= link_to_unless_current label_name, album_label do |label_name|
          content_tag :span, label_name, class: 'current'
        end %>
  </span>
</div>
